Source: jmax
Section: sound
Priority: optional
Maintainer: Paul Brossier <piem@altern.org>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.5.8

Package: jmax
Architecture: any
Depends: jmax-common, ${shlibs:Depends}
Description: A visual environment for interactive music and multimedia
 jMax is the latest generation of real-time platform developed at Ircam by the
 Real time systems team.
 .
 jMax is a visual programming environment for building interactive musical and 
 multimedia applications. 
 .
 jMax is a new implementation of the MAX software written originally by Miller 
 Puckette at Ircam. The name MAX is an homage to Max Matthews, one of the 
 fathers of computer music.

Package: jmax-common
Architecture: any
Depends: libc6, libc6-dev, libasound2, ${shlibs:Depends}
Description: jMax FTS kernel 
 jMax is the latest generation of real-time platform developed at Ircam by the
 Real time systems team.
 .
 jMax is a visual programming environment for building interactive musical and 
 multimedia applications. 
 .
 jMax is a new implementation of the MAX software written originally by Miller 
 Puckette at Ircam. The name MAX is an homage to Max Matthews, one of the 
 fathers of computer music.

Package: jmax-java
Section: contrib/sound
Architecture: any
Depends: jmax, jmax-common, java-common, java2-common, ${shlibs:Depends}
Description: Java client for jMax
 jMax is the latest generation of real-time platform developed at Ircam by the
 Real time systems team.
 .
 jMax is a visual programming environment for building interactive musical and 
 multimedia applications. 
 .
 jMax is a new implementation of the MAX software written originally by Miller 
 Puckette at Ircam. The name MAX is an homage to Max Matthews, one of the 
 fathers of computer music.

Package: jmax-client
Architecture: any
Depends: jmax, jmax-common, python2.2 (>=2.2.2), libwxgtk2.4-python (>=2.4.0.8), ${shlibs:Depends} 
Description: Clients for jMax
 Contains C++ and Python client for jMax
 .
 jMax is the latest generation of real-time platform developed at Ircam by the
 Real time systems team.
 .
 jMax is a visual programming environment for building interactive musical and 
 multimedia applications. 
 .
 jMax is a new implementation of the MAX software written originally by Miller 
 Puckette at Ircam. The name MAX is an homage to Max Matthews, one of the 
 fathers of computer music.

Package: jmax-jack
Architecture: any
Depends: jmax, jmax-common, libjack0.50.0-dev, ${shlibs:Depends}
Description: Jack Audio Connection Kit support for jMax
 jMax is the latest generation of real-time platform developed at Ircam by the
 Real time systems team.
 .
 jMax is a visual programming environment for building interactive musical and 
 multimedia applications. 
 .
 jMax is a new implementation of the MAX software written originally by Miller 
 Puckette at Ircam. The name MAX is an homage to Max Matthews, one of the 
 fathers of computer music.

Package: jmax-dev
Architecture: any
Depends: jmax-common, ${shlibs:Depends}
Description: Headers files for jMax
 jMax is the latest generation of real-time platform developed at Ircam by the
 Real time systems team.
 .
 jMax is a visual programming environment for building interactive musical and 
 multimedia applications. 
 .
 jMax is a new implementation of the MAX software written originally by Miller 
 Puckette at Ircam. The name MAX is an homage to Max Matthews, one of the 
 fathers of computer music.

Package: jmax-doc
Architecture: all
Depends: jmax, ${shlibs:Depends}
Description: Documentation for jMax
 jMax is the latest generation of real-time platform developed at Ircam by the
 Real time systems team.
 .
 jMax is a visual programming environment for building interactive musical and 
 multimedia applications. 
 .
 jMax is a new implementation of the MAX software written originally by Miller 
 Puckette at Ircam. The name MAX is an homage to Max Matthews, one of the 
 fathers of computer music.
